      <tr class="result-tr">
        <td colspan="5"></td>
        <td>Net</td>
        <td>{{total_net}}</td>
      </tr>
      <tr class="result-tr">
        <td colspan="5"></td>
        <td>Vat</td>
        <td>{{total_vat}}</td>
      </tr>
      <tr class="result-tr text-bold">
        <td colspan="5"></td>
        <td>Total Due</td>
        <td>{{total_due}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <article>
    <address class="float-left mr-15">
      <div class="border-block">
        <table class="outline-table bottom-table">
          <tbody>
          <tr>
            <td>UWS</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>Name :</td>
            <td>{{user_name}}</td>
          </tr>
          <tr>
            <td>eMail:</td>
            <td>{{user_mail}}</td>
          </tr>
          <tr>
            <td>Role:</td>
            <td>Trading Team</td>
          </tr>
          <tr>
            <td>Sign:</td>
            <td>{{sign}}</td>
          </tr>
          <tr>
            <td>Date:</td>
            <td>{{sign_date}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </address>
    <address class="float-right">
      <div class="border-block">
        <table class="outline-table bottom-table">
          <tbody>
          <tr>
            <td>Supplier</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>Name :</td>
            <td>{{supplier_name}}</td>
          </tr>
          <tr>
            <td>eMail:</td>
            <td>{{email}}</td>
          </tr>
          <tr>
            <td>Role:</td>
            <td>{{supplier_role}}</td>
          </tr>
          <tr>
            <td>Sign:</td>
            <td>{{sign}}</td>
          </tr>
          <tr>
            <td>Date:</td>
            <td>{{sign_date}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </address>
  </article>
  <aside>
    <h1>Please send payment to {{site_address}}</h1>
  </aside>
</div>
</body>

</html>
